<template>
    <transition>
        <div class="wrapper">
            <div class="container-fluid">
                <slot />
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    name: 'App',
}
</script>