<template>
    <Layout>
        <!-- FORM INPUT SLOT PARKING -->
        <form class="p-4" @submit.prevent="submitForm" v-if="landing.parkingSlot == 0">
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">
                    Parking Slot
                </label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" v-model="parkingSlot" placeholder="Input Slot Parking" required>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </div>
        </form>
        
        <div v-else>
            <!-- NAVIGATION MENU -->
            <div class="row p-4">
                <div class="col-6">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <a class="nav-link" :class="(activeTab == 'parking') ? 'active' : ''" href="#" @click="activeTab = 'parking'">
                                Parking
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" :class="(activeTab == 'leave') ? 'active' : ''" href="#" @click="activeTab = 'leave'">
                                Leave
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" :class="(activeTab == 'status') ? 'active' : ''" href="#" @click="activeTab = 'status'">
                                Status
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- INPUT PARKING CAR -->
            <form class="p-4" @submit.prevent="submitParking" v-if="activeTab == 'parking'">
                <div class="row mb-2">
                    <label class="col-sm-2 col-form-label">
                        Car Number
                    </label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" v-model="parkingForm.number" placeholder="Input Car Number" required>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">
                        Car Color
                    </label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" v-model="parkingForm.color" placeholder="Input Car Color" required>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </div>
            </form>

            <!-- LEAVE PARKING CAR -->
            <form class="p-4" @submit.prevent="submitLeave" v-if="activeTab == 'leave'">
                <div class="row mb-2">
                    <label class="col-sm-2 col-form-label">
                        Car Number
                    </label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" v-model="parkingForm.number" placeholder="Input Car Number" required>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">
                        Hour
                    </label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" v-model="parkingForm.hour" placeholder="Input Parking Hour" required>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </div>
            </form>

            <!-- TABLE STATUS PARKING -->
            <div class="row p-4" v-if="activeTab == 'status'">
                <div class="col-6">
                    <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Car Number</th>
                            <th scope="col">Car Color</th>
                        </tr>
                    </thead>
                        <tbody>
                            <tr v-for="(item, index) in landing.parking" :key="`${index}-parking`">
                                <td>{{ index+1 }}</td>
                                <td>{{ item.number }}</td>
                                <td>{{ item.color }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </Layout>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
    name: "Landing",
    components: {
        Layout: () => import('@/views/Layout'),
    },
	computed: {
		...mapState({
			landing: (state) => state.landing.data,
		}),
	},
	data() {
		return {
            parkingSlot: 0,
            activeTab: 'parking',
            parkingForm : {
                number: "",
                color: "",
                hour: "",
            },
		};
	},
	methods: {
		...mapActions("landing", ["addParkingCar", "removeParkingCar"]),

        async submitForm() {
            let parking = []
            for (let i = 0; i < parseInt(this.parkingSlot); i++) {
                let tempParking = {
                    number: "",
                    color: "",
                }
                parking.push(tempParking)
            }
            await this.$store.commit("landing/changeData", {
                parkingSlot: this.parkingSlot,
                parking: parking,
            });
            alert(`Created parking lot with ${this.landing.parkingSlot} slots`);
        },

        async submitParking() {
            let checkSlot = 0
            for (let i = 0; i < this.landing.parking.length; i++) {
                if (this.landing.parking[i].number != "") {
                    checkSlot++
                }
            }

            if (checkSlot == this.landing.parkingSlot) {
                alert(`Sorry, parking lot is full`);
            } else {
                let result = await this.addParkingCar(this.parkingForm);
                if (result) {
                    alert(`Registration number ${this.parkingForm.number} with Slot number ${result.slot}`);
                    this.parkingForm = {
                        number: "",
                        color: "",
                        hour: "",
                    }
                }
            }
        },

        async submitLeave() {
            let result = await this.removeParkingCar(this.parkingForm);
            if (result) {
                let charge = 10
                if (parseInt(this.parkingForm.hour) > 2) {
                    charge += (parseInt(this.parkingForm.hour) - 2) * 10
                }
                alert(`Registration number ${this.parkingForm.number} with Slot number ${result.slot} with Charge $${charge}`);
                this.parkingForm = {
                    number: "",
                    color: "",
                    hour: "",
                }
            } else {
                alert(`Registration number ${this.parkingForm.number} not found`);
            }
        },
	},
    async mounted() {
        this.parkingSlot = 0
        this.activeTab = 'parking'
        this.parkingForm = {
            number: "",
            color: "",
            hour: "",
        }

        await this.$store.commit("landing/changeData", {
            parkingSlot: 0,
            parking: [],
        });
	},
}
</script>